@model Catagory
@{ 
    ViewData["Title"] = "Catagory Detail";
}
<div class="main-panel">
    <h4>Catagory</h4>
    <p>@Model.Name</p>
    <div>
        <a class="btn btn-dark" asp-action="Index">Go Back</a>
    </div>
</div>