@model List<Catagory>
@{
    ViewData["Title"] = "Catagory";
    int count = 1;
}
<div class="main-panel my-3">
    <div class="table-responsive">
        <div class="cm-header d-flex justify-content-around my-2">
            <h3>Catagories</h3>
            <div>
                <a class="btn btn-outline-success btn-fw">Create</a>
            </div>
        </div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th> Number </th>
                    <th> CatagoryName </th>
                    <th> Settings </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var catagory in Model)
                {
                    <tr>
                        <td> @count </td>
                        <td> @catagory.Name </td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" asp-action="Detail" asp-route-id="@catagory.Id"><i class="mdi mdi-account-card-details"></i></a>
                            <a class="btn btn-outline-danger btn-sm" asp-action="Edit" asp-route-id="@catagory.Id"><i class="mdi mdi-delete-forever"></i></a>
                            <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@catagory.Id"><i class="mdi mdi-table-edit"></i></a>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>

